@import url("//fonts.googleapis.com/css?family=Lobster");

body{
  margin-top: 50px;
}

.section-title,.navbar-brand{
  font-family: 'Lobster',cursive;
  margin-top: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 1.1;
}